@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

.content{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.content__category{
    display: flex;
    justify-content: center;
    margin: -150px;
}
.content__background>img{
    width: 100%;
    height: auto;
    object-fit: contain;
    
}
.content__box{
    /* background-color: aquamarine; */
    border: 2px solid greenyellow;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px black;
    padding: 5px;
    background-color: black;
}
.content__title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-family: 'Sevillana', cursive;
    font-size: xx-large;
    position: absolute;
    top:250px;
    font-weight: 900;
    color: black;
    background-color: rgba(255, 255, 255, 0.582);
    
}

.content__box>img{
    object-fit: cover;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}
.content__box>img:hover{
    transform: scale(1.05);
    cursor: pointer;
    
    
}
.content__box>p{
    font-size: medium;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    color: rgb(58, 128, 31);
    text-align: center;
}
.content__box>p:hover{
    cursor: pointer;
}
.plant__type{
    display: flex;
    justify-content: space-evenly;
}
.plant__box{
    /* width: 40%; */
    height: auto;
    border: 2px solid yellowgreen;
    margin-top: 300px;
    color: white;
    background-color: black;
    padding: 5px;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 5px;
}
.plant__box>img{
    width: 400px;
    height: 400px;
    /* overflow: hidden; */
    object-fit: cover;
    border-radius: 5px;
}

.plant__box>p{
    /* color: rgb(58, 128, 31); */
    color: white;
    text-align: center;
    font-size: large;
    padding-left: 10px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    /* font-family: 'Sevillana', cursive; */
}
.plant__box>p:hover{
    color: rgb(58, 128, 31);

}

/* Title Animation */


