.headerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    color: rgb(72, 179, 221);
    cursor: pointer;
    padding-top: 10px;
    padding-left: 3px;
    /* background-color: aquamarine; */
}
.headerOption:hover{
    color: rgb(151, 207, 128);

}
.headerOption__title{
    font-size: x-small;
    font-weight: 400;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.headerOption__icon{
    object-fit: contain;
    height: 30px !important;
    width: 30px !important;
   
}
.headerOption__avatar{
    border: 3px solid rgb(72, 179, 221);
}
.headerOption__avatar:hover{
    border: 3px solid rgb(151, 207, 128);
    transform: scale(1.2);
}

