@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

.header__main{

    position: sticky;
    top: 0;
    display: flex;  
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 0.1px solid lightgray;
    padding-bottom: 10px;
    z-index: 999;
    background-color: white;
    /* background-color: aqua; */
}
.header__left{
    display: flex;
    /* margin-top: 10px; */
    align-items: center;
}

.header__left img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px; 
}
.header__left>p{
    font-size: xx-large;
    font-weight: 700;
    font-family: 'Sevillana', cursive;
    /* color:rgb(151, 207, 128); */
    color: rgb(58, 128, 31);
    white-space: nowrap;
}
.header__search{
    padding: 10px;
    display: flex;
    align-items: center;
    border: 0.1px solid rgb(151, 207, 128);
    border-radius: 5px;
    height: 22px;
    color: rgb(151, 207, 128);
    background : white;
    width: 100%;
}
.header__search>input{
    outline: none;
    border: none;
    background: none;
}
.header__right{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}